*{
  padding:0;
  margin:0;
}



header {
  width:100%;
  height:100vh;
  background-image: url(img/kame.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:white;
  line-height: 2;
  text-shadow: 1px 1px red;
}

li {
  list-style: none;
  width:100px;
  height:80px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: end;
}

li:hover {
  background-image: url(img/earth.avif);
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  margin-top: 100px;
  color:white;
  text-shadow: 1px 1px blue;
}

/* main */


.main-header {
  background-image: url(img/mountain.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 16px;
  height:50vh;
  z-index: 0;
}

main {
  width:100%;
  height:3600px;
}

.main-header h2 {
  text-align: center;
  margin:0 auto;
  line-height: 3;
  color: white;
  text-shadow: 1px 1px 2px black,
  0 0 1em blue,
  0 0 0.2em blue;
  font-size: 30px;
}

.main-header h2 br{
  display: none;
}

.item {
  max-width:1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items img{
  width:100%;
  height:300px;
}

.items img:hover{
  box-shadow:0 0 8px 4px black;
}

.items {
  width: calc(50% - 10px);
  box-shadow:0 0 8px 4px #ccc;
  margin: 30px 0 30px 0;
}

.items p {
  font-weight: bold;
}

.location h2 {
  margin-top: 80px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black,
  0 0 1em blue,
  0 0 0.2em blue;
  font-size: 30px;
}

.main-world {
  background: white;
  position: absolute;
  top:800px;
  padding-top:50px;
  z-index: 1;
}

.main-world h3 {
  text-align: center;
}

.cmenu {
  background: skyblue;
  color:black;
  padding: 15px 60px;
  border-radius: 30px;
  display: inline-block;
  font-weight: normal;
  text-shadow: none;
}



.if {
  position: relative;
}

.location {
  position: absolute;
  top:20px;
  background-image: url(img/location.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  width:100%;
  height:100vh;
  z-index: -1;
}



.ifr{
  position: relative;
}

iframe {
  padding-top: 100px;
  position: absolute;
  top:480px;
  width:100%;
  background: white;
  z-index: 1;
}

.adless {
  text-align: center;
  padding-top:30px;
}

 .fomenu{
  padding-top: 150px;
  background: purple;
  padding-bottom: 30px;
}

.fmenu {
  margin-left: 13%;
  line-height: 4;
}

.fmenu input {
  width:90%;
  height:45px;
}

.fmenu textarea {
  width:90%;
  height:60px;
}

button {
  display: block;
  padding:10px 80px;
  margin:0 auto;
  box-shadow: 1px 1px black;
  font-weight: bold;
  color: white;
  background: purple;
  
}


footer {
  height:140px;
  text-align: center;
  font-size: .5rem;
}